<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout" layout:decorate="~{base}">
<head>
    <title>All Customers</title>
</head>
<body>
<div layout:fragment="content">
    <header class="bg-white shadow">
        <div class="mx-auto max-w-7xl px-4 py-6 sm:px-6 lg:px-8">
            <h1 class="text-3xl font-bold tracking-tight text-gray-900">All Customers</h1>
        </div>
    </header>
    <main>
        <div class="mx-auto max-w-7xl px-4 py-6 sm:px-6 lg:px-8">
            <div th:if="${message}" class="bg-green-200 border border-green-400 border-solid mb-5 p-2 rounded-md text-green-900">
                <p th:text="${message}"></p>
            </div>
            <a th:href="@{/addNewCustomer}" class="bg-blue-600 font-medium px-3 py-2 rounded-md text-sm text-white inline-block mb-5 hover:bg-blue-700">Add new</a>
            <table class="table-auto w-full">
                <thead class="bg-gray-800 text-white uppercase">
                <tr>
                    <th class="px-6 py-3 text-center">First name</th>
                    <th class="px-6 py-3 text-center">Last name</th>
                    <th class="px-6 py-3 text-center">Email</th>
                    <th class="px-6 py-3 text-center">Phone</th>
                    <th class="px-6 py-3 text-center"></th>
                </tr>
                </thead>
                <tbody>
                <tr class="bg-white border-b" th:each="customer: ${customerList}">
                    <td class="px-6 py-5 text-center" th:text="${customer.firstName}"></td>
                    <td class="px-6 py-5 text-center" th:text="${customer.lastName}"></td>
                    <td class="px-6 py-5 text-center" th:text="${customer.email}"></td>
                    <td class="px-6 py-5 text-center" th:text="${customer.phone}"></td>
                    <td class="px-6 py-5 text-center">
                        <a th:href="@{customer/{id}(id=${customer.id})}"
                           class="bg-green-600 font-medium hover:bg-green-700 px-3 py-2 rounded-md text-sm text-white mr-1">
                            Show
                        </a>
                        <a th:href="@{customer/{id}/edit(id=${customer.id})}"
                           class="bg-blue-600 font-medium hover:bg-blue-700 px-3 py-2 rounded-md text-sm text-white mr-1">
                            Edit
                        </a>
                        <a th:href="@{customer/{id}/delete(id=${customer.id})}"
                           class="bg-red-600 font-medium hover:bg-red-700 px-3 py-2 rounded-md text-sm text-white mr-1">
                            Delete
                        </a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </main>
</div>
</body>
</html>
